.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}

.card {
  position: relative;
  margin: 0 10px;
  border-width: 5px;
  border-style: solid;
  border-color: #D3D3D3;
  height: 250px;
  border-radius: 17px;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: white;
}
